# Predicting YCombinator Startup Performance

### Load dataset

In [2]:
import pandas as pd
import os

In [23]:
badges = pd.read_csv('archive/badges.csv')
companies = pd.read_csv('archive/companies.csv')
founders = pd.read_csv('archive/founders.csv')
industries = pd.read_csv('archive/industries.csv')
prior_companies = pd.read_csv('archive/prior_companies.csv')
regions = pd.read_csv('archive/regions.csv')
schools = pd.read_csv('archive/schools.csv')
tags = pd.read_csv('archive/tags.csv')

badges['badge_num'] = badges.groupby('id').cumcount() + 1
df_pivot = badges.pivot(index='id', columns='badge_num', values='badge')
df_pivot.columns = [f'badge_{int(col)}' for col in df_pivot.columns]
badges = df_pivot.reset_index()

industries['industry_num'] = industries.groupby('id').cumcount() + 1
df_pivot = industries.pivot(index='id', columns='industry_num', values='industry')
df_pivot.columns = [f'industry_{int(col)}' for col in df_pivot.columns]
industries = df_pivot.reset_index()

tags['tag_num'] = tags.groupby('id').cumcount() + 1
df_pivot = tags.pivot(index='id', columns='tag_num', values='tag')
df_pivot.columns = [f'tag_{int(col)}' for col in df_pivot.columns]
tags = df_pivot.reset_index()

schools = schools.drop_duplicates(subset='hnid', keep='first')
ivy_league_schools = [
    'Stanford University'
    'Harvard University',
    'Yale University',
    'Princeton University',
    'Columbia University',
    'University of Pennsylvania',
    'Dartmouth College',
    'Brown University',
    'Cornell University'
]
schools['school'] = schools['school'].astype(str).str.strip().str.lower()
schools['is_ivy_league'] = schools['school'].isin(ivy_league_schools)

founder_dfs = [founders, schools, prior_companies]
company_dfs = [badges, companies, industries, regions, tags]

# Drop 'Unnamed: 0' columns if they exist in any DataFrame
for i, df in enumerate(company_dfs):
    if 'Unnamed: 0' in df.columns:
        df.drop(columns=['Unnamed: 0'], inplace=True)

merged_df = company_dfs[0]

for i, df in enumerate(company_dfs[1:], start=1):
    merged_df = pd.merge(merged_df, df, on='id', how='inner')

merged_df.rename(columns={'slug': 'company_slug'}, inplace=True)
merged_df = pd.merge(merged_df, founders, on='company_slug', how='inner')
merged_df = pd.merge(merged_df, schools, on='hnid', how='inner')
merged_df = pd.merge(merged_df, prior_companies, on='hnid', how='inner')

# Final merged DataFrame
print("Final merged DataFrame:")
schools
#merged_df

Final merged DataFrame:

,hnid,school,field_of_study,year,is_ivy_league
0,110,"birla institute of technology and science, pilani",Electronics And Instrumentation,2009,False
15,__JW__,the open university,NaN,2020,False
33,__sy__,stanford university,NaN,2009,False
37,_ahosny,brown univeristy,Computer Science,2018,False
40,_dps,london school of economics and political science,Law And Government,1998,False
...,...,...,...,...,...
55318,zwarejoncas,st. olaf college,Biology,2013,False
55328,zxela,lighthouse labs,Web Development,2018,False
55334,zxie,"university of california, berkeley",Electrical Engineering And Computer Sciences,2009,False
55339,zyro,"queen mary, u. of london",Computer Science,2007,False
55343,zzwitz,minerva university,Computer Science,2015,False

### List dataset variables

### Visualize Dataset

### Create variables